<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PREVIOUS ORDERS</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
    />

    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html"
          ><span class="flaticon-pizza-1 mr-1"></span>Pizza<br /><small
            >Delicous</small
          ></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
              <a href="menu.html" class="nav-link">Menu</a>
            </li>
            <li class="nav-item">
              <a href="services.html" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="blog.html" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container" style="padding: 3% 20%">
      <% for(let i = 0; i < completedOrders.length; i++) {%>
      <h3 style="color: #fac564; text-align: center;">Order Number : <%= i+1 %></h3><br>
      <% const order = completedOrders[i] %>
      <div class="container">
        <% for(let item of order.itemList) {%>
        <div class="row">
          <div class="col-6">
            <img
                  src="<%=item.image%>"
                  class="col menu-img"
                  alt="<%= item.title %>"
            />
          </div>
          <div class="col-6">
            <h3><%=item.name%></h3>
            <p class="price"> Price: <span><%=item.price%></span></p>
            <p>Quantity: <%=item.cnt%></p>
            <p>Total: <%=parseFloat(item.price) * parseInt(item.cnt)%></p>
            <p>Description: <%=item.description%></p>
          </div>
        </div>
        <% } %>
      </div>
      <hr>
      <% } %>
    </div>


    <!-- <div class="container-fluid" style="padding: 0% 10%">
      <% for(let i = 0; i < completedOrders.length; i++) {%>
      <h2>Order: <%= i+1 %></h2>
      <% const order = completedOrders[i] %>
      <div class="order_container">
        <% for(let item of order.itemList) {%>
        <div class="row item_container">
          <div class="col-md-4 text-center">
            <div class="menu-wrap">
              <div class="row p-5">
                <img
                  src="<%=item.image%>"
                  class="col menu-img"
                  alt="<%= item.title %>"
                />
                <div class="col text">
                  <h3><%=item.name%></h3>
                  <p class="price"><span><%=item.price%></span></p>
                  <p>quantity: <%=item.cnt%></p>
                  <p>total: <%=parseFloat(item.price) * parseInt(item.cnt)%></p>
                  <p><%=item.description%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div> -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.timepicker.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/js/google-map.js"></script>
    <script src="/js/main.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
